<div class="transfer-form" fxFlex="100%" fxLayout="column">
  <div class="transfer-form--header" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-icon>account_balance_wallet</mat-icon>
    <span> <strong>Make</strong> Transfer</span>
  </div>
  <div class="transfer-form--content">
    <form [formGroup]=transferForm fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="column">
        <label for="from-account">From Account</label>
        <input class="form-input" formControlName="fromAccount" id="from-account" type="text">
      </div>
      <div fxLayout="column">
        <div fxFlex="100"><label for="to-account">To Account</label></div>
        <input autocomplete="off" formControlName="toAccount" id="to-account" placeholder="Merchant name" type="text">
      </div>
      <div fxLayout="column" fxLayoutGap="0.5rem">
        <label for="amount">Amount</label>
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <span>$</span>
          <input autocomplete="off" formControlName="amount" id="amount" min="0" placeholder="0.00" type="number">
        </div>
      </div>
      <div>Can not overdraft beyond 500</div>
      <div>
        <app-submit-button>Submit</app-submit-button>
      </div>
    </form>
  </div>
</div>


