<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
  <span>Confirmation</span>
  <button (click)="dismiss()" mat-icon-button>
    <mat-icon></mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div>
    <div>
      <span>From</span>
      <div>
        <div>{{data.fromAccount.name}}</div>
        <div>{{data.fromAccount.accountNumber}}</div>
      </div>
    </div>
    <div>
      <span>To</span>
      <div>
        <div>{{data.toAccount.name}}</div>
        <div>{{data.toAccount.accountNumber}}</div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center pt-2 pb-2">
      <span class="col-3 amount-title">Amount</span>
      <span class="col-5 amount">{{data.fromAccount.currencyCode }} {{data.amount}}</span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="confirm()" mat-raised-button></button>
</mat-dialog-actions>
